doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
      = htmlWebpackPlugin.options.title || 'Webpack App'
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    p Hello world! This is HTML5 Boilerplate.